.input-group {
	width: 50%;
	margin-left: 25%;
}

#wrapper {
	display: block;
	margin-top: 20px;
}

.list-item {
	width: 50%;
	display: inline;
	margin-top: 20px;
}

li {
	width: 40%;
	margin-left: 25%;

	float: left;
}

.list-button {
	width: 8%;
	margin-left: 18px;
	margin-top: 3px;
	float: left;
}

.delete {
	clear: left;
}

.delete button {
	margin-top: 15px;
}
